---
import "../styles/global.css"
---

<div class="flex justify-between m-2">
    <a href="" class="no-underline text-2xl font-bold">United Children Africa</a>

    <div class="flex gap-10 text-xl">
        <a href="" class="no-underline">Über uns</a>
        <a href="" class="no-underline">Patenschaft</a>
        <a href="" class="no-underline">Kontakt</a>
        <a href="" class="no-underline">Spende</a>
    </div>
</div>
